---
import {Name, Stats, Description, PossessionsList, SkillsList, Special} from "../components/TroikaCharacter.jsx";
import Layout from "../layouts/TroikaLayout.astro";
import "../styles/index.css";
---

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <Layout>
      <Name  slot="id-name" client:only/>
      <Stats slot="statsBar" client:only/>
      <Description slot="description" client:only/>
      <PossessionsList slot="possessionsList" client:only />
      <SkillsList slot="skillsList" client:only/>
      <Special slot="special" client:only/>
    </Layout>  
  </body>
</html>
