---
---

<main class="main">
  <slot name="id-name" />
  <slot name="statsBar" />
  <section>
    <h3 class="text-lg font-semibold pb-1">Description</h3>
    <slot name="description" />
  </section>
  <section>
    <h3 class="text-lg font-semibold py-1">Possessions</h3>
    <slot name="possessionsList" />
  </section>
  <section>
    <h3 class="text-lg font-semibold py-1">Advanced Skills</h3>
    <slot name="skillsList" />
  </section>
  <slot name="special" />
  <div class="flex justify-center my-4">
    <button
      class="btn bg-primRed text-white hover:bg-primRedDark w-[300px] rounded-md hover:shadow-md text-2xl"
      onclick="window.location.reload()"
    >
      Re-Roll
    </button>
  </div>
</main>
